<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular class two</title>
    <script src="js/angular.min.js"></script>
    <!--<script src="js/semantic.js"></script>-->
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/semantic.css" />
    <link rel="stylesheet" href="css/css.css" />
</head>
<body>
<div ng-controller="TodoController" class="app_wrapper">
  <!---  <ul>
        <li ng-repeat="(key, value) in items | filter:name;">
        <p>{{key + ' ' + value}}</p>
        </li>
    </ul> -->
    <header class="ui teal segment ui stacked segment">
        <div class="ui mini icon input clear">
            <input type="text" placeholder="Search..." ng-model="search">
            <i class="search icon"></i>
        </div>


        <div class="ui icon input loading">
            <input type="text" ng-model="name" placeholder="Name" required>
        </div>
        <div class="ui icon input loading">
            <input type="number" ng-model="phone" placeholder="Phone Number" required>
        </div>
        <div class="ui teal add_bt down button " ng-click="addItem()">
            <i class="add icon"></i>
            Add Item
        </div>
    </header>

    <div class="ui piled segment ui tertiary form segment">
        <ol class="ui list">
            <li ng-repeat="item in items | filter:search;" >
                <strong>{{item.name}}</strong>
                <span>{{item.phone}}</span>
                <i class="red pointer trash icon" ng-click="removeThis(item)"></i>
            </li>
        </ol>
    </div>

    <!--<input type="checkbox" name="c1" ng-model="item1">-->
    <!--<label for="c1">Show</label>-->
    <!--<input type="checkbox" name="c1" ng-model="item2">-->
    <!--<label for="c1">hide</label>-->
    <!--<input type="checkbox" name="c1" ng-model="item3">-->
    <!--<label for="c1">display</label>-->

    <!--<div ng-show="item1"><h3>ng-show</h3></div>-->
    <!--<div ng-hide="item2"><h3>ng-hide</h3></div>-->
    <!--<div ng-if="item3"><h3>ng-if</h3></div>-->



</div>
</body>
</html>